/***************************************************
 * Global
 **************************************************/

a
{
	color: #0f76c5;
	cursor: pointer;
	text-decoration: none;
}

body
{
	color: #333;
	font-family: Lato;
	height: 100%;
	margin: 0px auto;
	position: relative;
	text-align: center;
	width: 900px;
}

h1,
h2
{
	color: #0f76c5;
	margin: 0px;
}

h3
{
	color: #0f76c5;
	margin-bottom: 0px;
}

html
{
	background-color: #99cdf5;
	height: 100%;
}

.section
{
	display: none;
}

#footer
{
	font-size: 0.8em;
	padding-bottom: 5px;
	width: 100%;
}

/***************************************************
 * Lotus
 **************************************************/

.lotus
{
	left: 50%;
	position: relative;
	transform: translateX(-50%);
	width: 512px;
}

#lotus-petal-info,
#lotus-petal-meditation,
#lotus-petal-library
{
	display: none;
	left: 0px;
	position: absolute;
	top: 0px;
}

#info-button
{
	left: 105px;
	position: absolute;
	top: 155px;
}

#library-button
{
	left: 357px;
	position: absolute;
	top: 183px;
}

#lotus-bottom
{
	margin-bottom: -140px;
	top: -140px;
	z-index: -1;
}

#meditation-button
{
	left: 238px;
	position: absolute;
	top: 90px;
}

/***************************************************
 * Smaller screens (e.g. mobile)
 **************************************************/

@media only screen and (max-width: 1000px)
{
	body
	{
		width: 90%;
	}
}

