/***************************************************
 * Global
 **************************************************/

a
{
	color: #0f76c5;
	cursor: pointer;
	text-decoration: none;
}

a:hover
{
	color: #094675;
}

blockquote
{
	font-size: 0.8em;
	font-style: italic;
}

body
{
	color: #333;
	font-family: Lato, sans-serif;
	height: 100%;
	margin: 0 auto;
	position: relative;
	text-align: center;
	width: 100%;
}

h1
{
	margin: 0;
}

h2.subtitle
{
	margin: 0;
}

html
{
	background-color: #99cdf5;
	height: 100%;
}

.banner
{
	padding: 5px 0;
	width: 100%;
}

.notice
{
	background-color: #c35ec5;
	border-radius: 20px;
	margin: 5px;
	padding: 5px;
}

.section
{
	display: none;
}

#footer
{
	font-size: 0.8em;
	padding-bottom: 5px;
}

/***************************************************
 * Lotus
 **************************************************/

.lotus,
.lotus-buttons
{
	left: 50%;
	position: relative;
	transform: translateX(-50%);
	width: 512px;
}

.lotus-buttons
{
	top: -303px;
}

#lotus-petal-facebook,
#lotus-petal-info,
#lotus-petal-library,
#lotus-petal-meditation
{
	display: none;
	left: 0;
	position: absolute;
	top: 0;
}

#facebook-button
{
	left: 120px;
	position: absolute;
	top: 80px;
}

#info-button
{
	left: 105px;
	position: absolute;
	top: 155px;
}

#library-button
{
	left: 357px;
	position: absolute;
	top: 183px;
}

#lotus-bottom
{
	margin-bottom: -140px;
	top: -140px;
	z-index: -1;
}

#meditation-button
{
	left: 238px;
	position: absolute;
	top: 90px;
}

#up-button
{
	display: none;
}

/***************************************************
 * Smaller screens (e.g. mobile)
 **************************************************/

@media only screen and (max-width: 1000px)
{
	body
	{
		width: 95%;
	}
}
