/* Overrides */

body
{
	background-color: #99cdf5;
	font-family: Lato, sans-serif;
}

body > div:first-child
{
	min-height: 100vh;
}

h1,
h2,
h3,
h4
{
	font-weight: bold;
}

h4
{
	font-size: 1.3em;
}

blockquote
{
	border-left: 5px solid #c35ec5;
	font-style: italic;
}

a
{
	color: #c35ec5;
	cursor: pointer;
}

a:hover
{
	color: #c100c5;
}

.jumbotron .panel p
{
	font-size: 14px;
}

/* General */

.osho-page-header
{
	border-bottom: 1px solid #c35ec5;
	margin-top: 0;
	text-align: center;
}

.osho-alert-info
{
	background-color: #d9edf7;
	color: #99cdf5;
}

.osho-placeholder
{
	color: #888;
}

.osho-jumbotron
{
	background-color: #99cdf5;
	padding-left: 5%;
	padding-right: 5%;
}

.osho-jumbotron img
{
	max-width: 15%;
}

.osho-jumbotron-alt
{
	background-color: #c35ec5;
}

.osho-jumbotron-alt a
{
	color: #006fc5;
}

.osho-jumbotron-alt a:hover
{
	color: #094675;
}

.osho-jumbotron-alt blockquote
{
	border-left: 5px solid #99cdf5;
}

.osho-panel
{
	background-color: #c35ec5;
	border-color: #c35ec5;
	display: inline-block;
	margin-right: 10px;
	max-width: 400px;
}

.osho-panel a
{
	color: #006fc5;
}

.osho-panel a:hover
{
	color: #094675;
}

.osho-tab-content
{
	padding: 15px;
}

.osho-footer
{
	text-align: center;
}

/* Lotus */

.osho-lotus
{
	margin: auto;
	max-width: 90%;
	position: relative;
	width: 512px;
}

.osho-lotus img
{
	width: 100%;
}

#osho-lotus-petal-facebook,
#osho-lotus-petal-info,
#osho-lotus-petal-library,
#osho-lotus-petal-meditation
{
	display: none;
	left: 0;
	position: absolute;
	top: 0;
}

#osho-facebook-button
{
	left: 24%;
	position: absolute;
	top: 57%;
	width: 12.5%;
}

#osho-info-button
{
	left: 20%;
	position: absolute;
	top: 30%;
	width: 12.5%;
}

#osho-library-button
{
	left: 70%;
	position: absolute;
	top: 36%;
	width: 12.5%;
}

#osho-meditation-button
{
	left: 46%;
	position: absolute;
	top: 18%;
	width: 12.5%;
}
